.logo {
    max-width: 50%;
    height: auto;
}

.guide-card {
    width: calc(50% - 20px);
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

.guide-card img {
    max-width: 100%;
    height: auto;
}

.guide-cards-container {
    flex-wrap: wrap;
    justify-content: space-between;
    overflow-x: auto;
    padding: 10px;
}

/* Appコンポーネントのスタイル */
.App {
    text-align: center;
}